body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: #00b7ff;
}

.map-container {
  width: 700px;
  margin: auto;
  position: relative;
}

.map {
  position: absolute;
  width: 700px;
  height: 400px;
  background: url('../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  top: -60px;
  /*left: 50px;*/
}

.circles {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.sf, .chi, .nyc {
  fill: turquoise;
  cursor: pointer;
  opacity: 0.25;  
}

.sfPt, .chiPt, .nycPt {
  fill: mediumblue;
  opacity: 0.5;
}

#chart {
  width: 600px;
  height: 300px;
  margin: 0;
  position: relative;
  top: 320px;
  left: 30px;
}

.loading-modal {
  width: 650px;
}

.loading-modal {
  width: 650px;
  padding: 30px;
  position: relative;
  top: 80px;
  background-color: white;
  opacity: 0.5;
  z-index: 5;
}

.show-modal button {
  position: relative;
  width: 100px;
  height: 40px;
  top: 100px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;
  font-weight: 100;
  z-index: 5;
  cursor: pointer;
}

.stats {
  position: absolute;
  z-index: 6;
}
